.box{
    display: flex;
    flex-direction: column;
    border: 0.6px solid lightgray;
    margin: 10%;
    padding: 5%;
}

.header{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
    color: #232323;
}

::ng-deep mat-form-field{
    width:100%;
}

.button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: 12px
}
